target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/data/

\.DS_Store

#Datasets
src/main/kotlin/com/stmk/sddatavr/search/dataset/openshift/dockermetics-sample-data_20171108-100MB\.zip
